<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Robespierre &amp; the Reign of Cher Showcase Tracker</title>
    <style media="screen">
    body
    {
      background-color: #1d83c2;
    }
    div .main
    {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      background-color: #a4a9ab;
    }

    div #showcase-progress
    {
      width: 30%;
      margin: auto;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      float: left;

      color: <%= progress['color'] %>
    }

    div .title
    {
      text-align: center;
      font-size: 16px;
    }

    div .subtitle
    {
      text-align: center;
      font-size: 12px;
    }

    div #messages
    {
      width: 55%;
      margin: auto;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      float: right;
    }
    </style>
  </head>
  <body>
    <div class="main">
      <div id="showcase-progress">
        <div class="title">Showcase Progress!</div>
        <div class="subtitle">Go Kart</div>
        <p>Currently: <%= progress['name'] %></p>
        <progress value="<%= ENV['PROGRESS_STAGE'].to_i + 1 %>" max="5"></progress>
      </div>
      <h1>Send Encouragement!</h1>
      <form class="" action="/" method="post" />
        <input type="textarea" name="message" value="Go BJ Scots!" />
        <input type="submit" value="submit" />
      </form>
      <div id="messages">
        <div class="title">Messages</div>
        <% messages.each do |message| %>
          <ul>
            <%= message[:content] %> <br /> -- <%= message[:created_at] %>
          </ul>
        <% end %>
      </div>
    </div>
  </body>
</html>
