<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Robespierre &amp; the Reign of Cher's Showcase Progress!</title>
    <style media="screen">
    body
    {
      background-color: #1d83c2;
    }
    div .main
    {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      background-color: #a4a9ab;
    }

    div #showcase-progress
    {
      width: 40%;
      margin: auto;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      float: left;
      background-color: #a4a9ab;
      color: <%= progress['color'] %>
    }

    div .center
    {
      text-align: center;
    }

    div .maintitle
    {
      text-align: center;
      font-size: x-large;
    }
    div .title
    {
      text-align: center;
      font-size: large;
    }

    div .subtitle
    {
      text-align: center;
      font-size: medium;
    }

    div #messages
    {
      width: 50%;
      margin: auto;
      float: right;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      float: right;
      background-color: #a4a9ab;
    }

    ul
    {
      list-style-type: none;
    }

    ul .message
    {
      text-align: right;
    }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="maintitle"><i>Robespierre &amp; the Reign of Cher's</i> Showcase Progress!</div>
      <div id="showcase-progress">
        <div class="title">Our Go Kart</div>
        <div class="subtitle">Currently: <%= progress['name'] %></div>
        <div class="center"><progress value="<%= ENV['PROGRESS_STAGE'].to_i + 1 %>" max="5"></progress></div>
      </div>
      <div id="messages">
        <div class="title">Send Encouragement!</div>
        <form class="" action="/" method="post" />
          <input type="textarea" name="message" value="Go BJ Scots!" />
          <input type="submit" value="submit" />
        </form>
        <div class="title">Messages</div>
          <ul>
            <% messages.each do |message| %>
            <li class="message">
              <%= message[:content] %> <br /> &mdash; <%= message[:created_at] %>
            </li>
            <% end %>
          </ul>
      </div>
    </div>
  </body>
</html>
